a {
  text-decoration: none;
}

#content {
  width: calc(100% - 300px);
  float: right;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.carousel-item img {
  object-fit: cover;
  object-position: center center;
}

.info-carousel {
  position: absolute;
  top: 50%;
  left: 35%;
  height: 30%;
  width: 80%;
  margin: -15% 0 0 -25%;
}

.title-home h1 {
  color: #fff;
  font-size: 60px;
  margin-bottom: 20px;
  line-height: 1.3;
  font-weight: 700;
}

.title-home .download-cv {
  color: #fff;
  font-weight: bold;
  border: 3px solid #fff;
  border-radius: 8px;
  background: transparent !important;
  transition: all 0.5s;
}

.title-home .download-cv:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  background-color: rgba(0, 0, 0, 0.03) !important;
}

#content-portfolio {
  padding: 0 2.5em;
  line-height: 1.8rem;
}

.desc-about {
  margin-top: 65px;
}

.title-about {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999999;
  font-weight: 500;
  letter-spacing: 5px;
}

.subtitle-about {
  font-size: 18px;
  margin-bottom: 4em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
}

.center-div {
  display: flex;
  justify-content: center;
}

.box-one {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  margin: 50px 20px 30px 20px;
  padding: 20px 25px;
  /* height: 250px; */
  transition: all 1s ease;
}

.box-one:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.color-blue {
  border-bottom: 3px solid #4ad5ff;
}

.color-yellow {
  border-bottom: 3px solid #ffcb00;
}

.color-red {
  border-bottom: 3px solid #b00605;
}

.color-green {
  border-bottom: 3px solid #206d28;
}

.color-orange {
  border-bottom: 3px solid #fa4d2b;
}

.font-blue {
  color: #2c98f0;
}

.font-yellow {
  color: #ffcb00;
}

.font-red {
  color: #b00605;
}

.font-green {
  color: #206d28;
}

.services .icon {
  font-size: 30px;
}

.services h4 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}

.services p {
  font-size: 0.8rem;
}

.progress-skills {
  margin-top: 20px;
  margin-bottom: 5px;
}

.progress-skills h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.content-box-project {
  transition: all 1s ease;
}

.box-project {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  /* height: 300px; */
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.box-project .desc {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2c98f0;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.box-project:hover .desc {
  opacity: 1;
}

.box-project .desc .con {
  padding: 20px;
  display: block;
  position: relative;
  height: 300px;
}

.box-project:hover .desc h3 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.box-project .desc a {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
}

.box-project .desc h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 15px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
}

.box-project:hover .desc span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.box-project .desc span {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}

.content-contact .form-group {
  margin-bottom: 15px;
}

.content-contact .form-control {
  appearance: none;
  box-shadow: none;
  border: none;
  background: #f2f3f7;
  height: 54px;
  font-size: 12px;
  font-weight: 400;
  transition: 0.3s;
  border-radius: 0;
  padding: 10px 20px;
  line-height: 1.42857;
  color: #555;
}

.content-contact #message {
  height: 130px;
}

.content-contact .btn-primary {
  background: #2c98f0;
  color: #fff;
  border: 2px solid #2c98f0;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 15px !important;
  transition: all 1s ease;
}

.content-contact .btn-primary:hover {
  background: #58a6e5;
  border: 2px solid #58a6e5;
}

.content-contact .alert-form {
  background: #c7f589;
  color: #fff;
  border: 2px solid #c7f589;
  margin: auto;
  padding: 10px 20px;
  margin-bottom: 1em;
  -webkit-transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.video-container {
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  transition: all 0.5s ease;
}
.video {
  border-radius: 30px;
  background: black;
  width: 190px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
}
.video-container:hover {
  -webkit-transform: scale(1);
  transform: scale(1.1);
}

.iconos-container {
  display: flex;
  width: 190px;
  flex-wrap: wrap; /* Esta línea permite que los elementos se envuelvan a la siguiente fila */
  justify-content: center; /* Esto centra los elementos horizontalmente */
}

.icono-container {
  position: relative;
  margin-right: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 0.3s;
}

.icono-container:not(.mostrar) {
  opacity: 0;
}

.nombre {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(10px, -50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  font-size: 14px;
  margin-left: 5px;
}

.icono-container.mostrar:hover .nombre {
  opacity: 1;
  transform: translate(0, -50%);
}

@media only screen and (max-width: 624px) {
  #header {
    width: auto;
    float: none;
  }

  #content {
    float: none;
    width: 100%;
    padding: 5px;
    margin-top: 50px;
  }
}

@media (min-width: 510px) {
  .video-container {
    width: calc(
      50% - 10px
    ); /* Dos elementos por fila, con un espacio de 10px entre ellos */
  }
}

@media (min-width: 600px) {
  .video-container {
    width: calc(
      100% - 10px
    ); /* Tres elementos por fila, con un espacio de 10px entre ellos */
  }
}

@media (min-width: 800px) {
  .video-container {
    width: calc(
      50% - 10px
    ); /* Tres elementos por fila, con un espacio de 10px entre ellos */
  }
}

@media (min-width: 992px) {
  .video-container {
    width: calc(
      33.3% - 10px
    ); /* Cuatro elementos por fila, con un espacio de 10px entre ellos */
  }
}
