:root {
    --primary: #2C98F0;
    --light: #ffffff;
    --grey: #F2F3F7;
}

a {
    text-decoration: none;
}

#header {
    width: 300px;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 0;
}
.bg-primary {
    background-color: var(--grey) !important;
}

.cover {
    margin: 20px 0px 15px 0;
    padding: 10px 15px;
    text-align: center;
}
.cover img {
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgb(0, 0, 0, 0.3);
}
.presentation {
    padding: .875rem 1.25rem;
    text-align: center;
}
.presentation h6 {
    line-height: 1.8rem;
}

.menu {
    text-align: center;
}
.menu a {
    width: max-content;
    font-size: 0.9rem;
    margin: 0 auto;
    letter-spacing: 1px;
    background-image: linear-gradient(#2C98F0, #2C98F0);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: 2s cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.menu a:hover {
    transform: translate(0, 8px) scale(0.8);
    color: #2C98F0;
    background-size: auto 2px;
}
.menu a:focus {
    background-size: auto 2px;
    color: #2C98F0 !important;
}

.footer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.footer .social-links a:hover {
    background-color: #2C98F0;
    color: #fff;
}
