:root {
  --primary: #2c98f0;
  --light: #ffffff;
  ---grey: #f2f3f7;
}
body {
  overflow: auto;
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  color: #000;
}
#container-wrap {
  max-width: 1170px;
  margin: 0 auto;
}
